<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Menu Administrador</title>
    <link rel="icon" type="image/x-icon" href="assets/img/logos/LogoApp-small.png" />
    <link href="css/admin.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet"
        crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

</head>

<body onload="pagAdmin(); fetchForum(); fetchAllUsers(); clearReloadDiscuss()">

    <button onclick="topFunction()" id="topBtn" title="Go to top"><i class="fas fa-arrow-up"></i></button>


    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="assets/img/logos/LogoApp.png"
                    alt="" /></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars ml-1"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="MenuPrincipal.html"><i
                                class="fas fa-home"></i> Menu Principal</a></li>
                    <li class="nav-item" id="forumbtn"><a class="nav-link js-scroll-trigger" href="MenuForum.html"><i
                                class="fas fa-comments"></i> Fórum</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" id="direitosbtn"
                            href="MenuDireitos.html"><i class="fas fa-balance-scale"></i> Direitos das Crianças</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="MenuDiversoes.html"><i
                                class="fas fa-puzzle-piece"></i> Diversões</a></li>
                    <li class="nav-item" id="apoiosplace"><a class="nav-link js-scroll-trigger"
                            href="MenuLinhasApoio.html"><i class="fas fa-headset"></i> Ajudas</a></li>
                    <li class="nav-item" id="perfilbtn">
                        <a class="nav-link js-scroll-trigger" href="DadosPerfil.html"><i class="fas fa-user"></i>
                            Perfil</a>
                    </li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href=""><i
                                class="fas fa-sign-out-alt"></i>
                            Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead11">
        <div class="container">
            <div class="masthead11-heading text-uppercase">Menu Administrador</div>
        </div>
    </header>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">

                <h1 class="mt-4">Dashboard</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>

                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-area mr-1"></i>
                                Total de Denúncias
                            </div>
                            <div class="card-body">
                                <h1 id="totalDenuncias"></h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-user mr-1"></i>
                                Total de Utilizadores
                            </div>
                            <div class="card-body">
                                <h1 id="totalUtilizadores"></h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-bar mr-1"></i>
                                Total de Tópicos de Discussão
                            </div>
                            <div class="card-body">
                                <h1 id="totalTopicos"></h1>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
    </div>
    </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="js/admin.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/denuncias.js"></script>
    <script src="js/forum.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="assets/demo/chart-area-demo.js"></script>
    <script src="assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="assets/demo/datatables-demo.js"></script>
</body>

</html>